.head {
    display: flex;
    justify-content: space-between;
}

.head .face {
    width: 206px;
    height: 206px;
    margin-right: 30px;
    border: 5px solid white;
    background-color: white;
}