.works {
    padding: 13px 0 0 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

.card {
    box-shadow: 0 0 4px 2px rgba(35,21,21,.15);
}

.card__img {
    height: 308px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .works .card {
        margin: 5px;
    }
}

@media (max-width: 767px) {
    .works {
        margin: -10px 0;
    }
    .works div, h2 {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 439px) {
    h2 {
        text-align: center;
    }
}