.container {
    min-width: 360px;
}
.content {
    background-color: #343944;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.block {
    color: black;
}

p, li {
    font-size: 18px;
    font-weight: 300;
}